header.bookmarker {
  text-align: center;
  color: #454F63;
  background-color: lighten( #f1f1f1,0%);
  background-image: url('../img/apps/abastract3-new@2x.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  .intro-text {
    padding-top: 60px;
    padding-bottom: 20px;
    .intro-lead-in {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 25px;
      @include normal-font;
    }
    .intro-heading {
      font-size: 50px;
      font-weight: 700;
      font-style: bold;
      line-height: 56px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
  .store-icons {
    padding-top: 20px;
    width: 60%;
    min-height: 98px;
    min-width: auto;
    // max-width: 70%;
    // line-height: 50px;
    padding-bottom: 50px;
  }
}
@media(min-width:768px) {
  header.bookmarker {
      .main-image {
          float: left;
          padding-top: 0px;
          padding-bottom: 0px;
      }
    .intro-text {
      align-items: flex-end;
      padding-top: 0px;
      padding-bottom: 00px;
      .intro-lead-in {
        text-align: right;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 0px;
        @include normal-font;
      }
      .intro-heading {
        text-align: right;
        font-size: 45px;
        font-weight: 700;
        font-style: bold;
        line-height: 55px;
        margin-top: 00px;
        margin-bottom: 30px;
        @include normal-font;
      }
    }
  }
}

header.vts {
  text-align: center;
  color: white;
  background-color: lighten( #5528FF,0%);
  background-image: url('../img/apps/abastract5@2x.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  .intro-text {
    padding-top: 60px;
    padding-bottom: 20px;
    .intro-lead-in {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 25px;
      @include normal-font;
    }
    .intro-heading {
      font-size: 50px;
      font-weight: 700;
      font-style: bold;
      line-height: 56px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}
@media(min-width:768px) {
  header.vts {
      .main-image {
          float: left;
          padding-top: 0px;
          padding-bottom: 0px;
      }
    .intro-text {
      align-items: flex-end;
      padding-top: 0px;
      padding-bottom: 00px;
      .intro-lead-in {
        text-align: right;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 0px;
        @include normal-font;
      }
      .intro-heading {
        text-align: right;
        font-size: 45px;
        font-weight: 700;
        font-style: bold;
        line-height: 55px;
        margin-top: 00px;
        margin-bottom: 30px;
        @include normal-font;
      }
    }
  }
}

header.ont {
    text-align: center;
    color: #343434;
    background-color: lighten( #F36633,0%);
    background-image: url('../img/apps/abstract1@2x.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    .intro-text {
      padding-top: 60px;
      padding-bottom: 20px;
      .intro-lead-in {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 25px;
        @include normal-font;
      }
      .intro-heading {
        font-size: 50px;
        font-weight: 700;
        font-style: bold;
        line-height: 56px;
        margin-bottom: 25px;
        @include heading-font;
      }
    }
  }
  @media(min-width:768px) {
    header.ont {
        .main-image {
            float: left;
            padding-top: 0px;
            padding-bottom: 0px;
        }
      .intro-text {
        align-items: flex-end;
        padding-top: 0px;
        padding-bottom: 00px;
        .intro-lead-in {
          text-align: right;
          font-size: 20px;
          line-height: 30px;
          margin-bottom: 0px;
          @include normal-font;
        }
        .intro-heading {
          text-align: right;
          font-size: 45px;
          font-weight: 700;
          font-style: bold;
          line-height: 55px;
          margin-top: 00px;
          margin-bottom: 30px;
          @include normal-font;
        }
      }
    }
  }
  
  header.be-there {
    text-align: center;
    color: #343434;
    background-image: url('../img/apps/abastract3-new@2x.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    .intro-text {
      padding-top: 60px;
      padding-bottom: 20px;
      .intro-lead-in {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 25px;
        @include normal-font;
      }
      .intro-heading {
        font-size: 50px;
        font-weight: 700;
        font-style: bold;
        line-height: 56px;
        margin-bottom: 25px;
        @include heading-font;
      }
    }
  }
  @media(min-width:768px) {
    header.be-there {
        .main-image {
            float: left;
            padding-top: 0px;
            padding-bottom: 0px;
        }
      .intro-text {
        align-items: flex-end;
        padding-top: 0px;
        padding-bottom: 40px;
        .intro-lead-in {
          text-align: right;
          font-size: 20px;
          line-height: 30px;
          margin-bottom: 0px;
          @include normal-font;
        }
        .intro-heading {
          text-align: right;
          font-size: 45px;
          font-weight: 700;
          font-style: bold;
          line-height: 55px;
          margin-top: 00px;
          margin-bottom: 30px;
          @include normal-font;
        }
      }
    }
  }



  header.better-me {
    text-align: center;
    color: white;
    background-color: blue;
    background-image: url('../img/apps/abastract5@2x.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    .intro-text {
      padding-top: 60px;
      padding-bottom: 20px;
      .intro-lead-in {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 25px;
        @include normal-font;
      }
      .intro-heading {
        font-size: 50px;
        font-weight: 700;
        font-style: bold;
        line-height: 56px;
        margin-bottom: 25px;
        @include heading-font;
      }
    }
  }
  @media(min-width:768px) {
    header.better-me {
        .main-image {
            float: left;
            padding-top: 0px;
            padding-bottom: 0px;
        }
      .intro-text {
        align-items: flex-end;
        padding-top: 0px;
        padding-bottom: 40px;
        .intro-lead-in {
          text-align: right;
          font-size: 20px;
          line-height: 30px;
          margin-bottom: 0px;
          @include normal-font;
        }
        .intro-heading {
          text-align: right;
          font-size: 45px;
          font-weight: 700;
          font-style: bold;
          line-height: 55px;
          margin-top: 00px;
          margin-bottom: 30px;
          @include normal-font;
        }
      }
    }
  }

  header.take-part {
    text-align: center;
    color: #343434;
    background-color: white;
    background-image: url('../img/apps/abastract3-new@2x.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    .intro-text {
      padding-top: 60px;
      padding-bottom: 20px;
      .intro-lead-in {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 25px;
        @include normal-font;
      }
      .intro-heading {
        font-size: 50px;
        font-weight: 700;
        font-style: bold;
        line-height: 56px;
        margin-bottom: 25px;
        @include heading-font;
      }
    }
  }
  @media(min-width:768px) {
    header.take-part {
        .main-image {
            float: left;
            padding-top: 0px;
            padding-bottom: 0px;
        }
      .intro-text {
        align-items: flex-end;
        padding-top: 0px;
        padding-bottom: 40px;
        .intro-lead-in {
          text-align: center;
          font-size: 20px;
          line-height: 30px;
          margin-bottom: 0px;
          @include normal-font;
        }
        .intro-heading {
          text-align: center;
          font-size: 45px;
          font-weight: 700;
          font-style: bold;
          line-height: 55px;
          margin-top: 00px;
          margin-bottom: 30px;
          @include normal-font;
        }
      }
    }
  }
  header.qontact {
    text-align: center;
    color: white;
    background-color: #BF2327;
    background-image: url('../img/apps/abastract4-new@2x.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    .intro-text {
      padding-top: 60px;
      padding-bottom: 20px;
      .intro-lead-in {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 25px;
        @include normal-font;
      }
      .intro-heading {
        font-size: 50px;
        font-weight: 700;
        font-style: bold;
        line-height: 56px;
        margin-bottom: 25px;
        @include heading-font;
      }
    }
  }
  @media(min-width:768px) {
    header.qontact {
        .main-image {
            float: left;
            padding-top: 0px;
            padding-bottom: 0px;
        }
      .intro-text {
        align-items: flex-end;
        padding-top: 0px;
        padding-bottom: 40px;
        .intro-lead-in {
          text-align: center;
          font-size: 20px;
          line-height: 30px;
          margin-bottom: 0px;
          @include normal-font;
        }
        .intro-heading {
          text-align: center;
          font-size: 45px;
          font-weight: 700;
          font-style: bold;
          line-height: 55px;
          margin-top: 00px;
          margin-bottom: 30px;
          @include normal-font;
        }
      }
    }
  }
