// Styling for the masthead
header.masthead {
  text-align: center;
  color: #343434;
  background-color: white;
  background-image: url('../img/home/background.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  .avatar {
    padding-top: 00px;
    padding-bottom: 0px;
  }
  .intro-text {
    padding-top: 60px;
    padding-bottom: 20px;
    .intro-lead-in {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 0px;
      @include normal-font;
    }
    .intro-heading {
      font-size: 44px;
      font-weight: 700;
      font-style: bold;
      line-height: 40px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}
@media(min-width:768px) {
  header.masthead {
      .avatar {
        padding-top: 100px;
        padding-bottom: 80px;
      }
      .intro-text {
      padding-top: 100px;
      padding-bottom: 80px;
      .intro-lead-in {
        text-align: left;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 25px;
        @include normal-font;
      }
      .intro-heading {
        text-align: left;
        font-size: 75px;
        font-weight: 700;
        font-style: bold;
        line-height: 75px;
        margin-top: 70px;
        margin-bottom: 30px;
        @include heading-font;
      }
    }
  }
}
